---
all:
  vars:
    ansible_user: "{{ lookup('env', 'T7_SSH_USER') }}"
    ansible_ssh_private_key_file: "~/.ssh/{{ ansible_user }}.key"
    ansible_port: "{{ lookup('env', 'T7_SSH_PORT') }}"
    mysql_password: "{{ lookup('env', 'MYSQL_PASSWORD') }}"
    mysql_root_password: "{{ lookup('env', 'MYSQL_ROOT_PASSWORD') }}"
    become: true

zabbix-server:
  hosts:
    docker-02-db.home.t7-lab.pl:
  vars:
    zabbix_server_docker_dir: "/home/{{ ansible_user }}/docker/zabbix-server"
    service_verification_services:
      - docker
      - ssh
...
